.MenuCarousel {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-340px * 9));
  }
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 280px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1440px;
}
.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 50%
  );

  content: "";
  height: 280px;
  position: absolute;
  width: 340px;
  z-index: 2;
}
.slider::after {
  right: -5px;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: -5px;
  top: 0;
}
.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  gap: 10px;
  width: calc(340px * 18);
}
.slide {
  height: 280px;
  width: 340px;
}
.slide img {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: cover;
}
